<section class="footer text-white py-5 text-center">
  <div class="container">
    <div class="row row-cols-sm-1 row-cols-md-3">
      <div class="col">
        <h3 class="text-uppercase">Location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col">
        <h3 class="text-uppercase">Aroudn the web</h3>
        <ul
          class="list-unstyled d-flex justify-content-center align-content-center gap-2 mt-4"
        >
          <li class="">
            <span class="mx-1">
              <i class="fa-brands fa-facebook"></i>
            </span>
          </li>
          <li>
            <span class="mx-1">
              <i class="fa-brands fa-x-twitter"></i>
            </span>
          </li>
          <li>
            <span class="mx-1">
              <i class="fa-brands fa-instagram"></i>
            </span>
          </li>
          <li>
            <span class="mx-1">
              <i class="fa-brands fa-linkedin-in"></i>
            </span>
          </li>
        </ul>
      </div>
      <div class="col">
        <h3 class="text-uppercase">about freelancer</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</section>
<div class="copyright text-white py-3 text-center">
  <span>Copyright © Your Website 2024</span>
</div>
