<section
  class="about text-white d-flex justify-content-center align-items-center"
>
  <div class="w-75">
    <h2 class="fs-1 text-uppercase text-center">About Component</h2>
    <app-star-divider></app-star-divider>
    <div class="row row-cols-2 mt-2">
      <div class="col">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
