<section class="contact py-5 vh-100">
  <div class="heading py-3">
    <h2 class="fs-1 text-center text-uppercase">Contact</h2>
    <app-star-divider-dark></app-star-divider-dark>
  </div>
  <div
    class="container d-flex flex-column justify-content-center align-items-center"
  >
    <form class="form w-50">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >User Name:</label
        >
        <input
          type="text"
          class="form-control"
          id="userName"
          placeholder="User Name"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >User Age:</label
        >
        <input
          type="number"
          min="5"
          max="150"
          class="form-control"
          id="userAge"
          placeholder="User Age"
        />
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >User Email:</label
        >
        <input
          type="email"
          class="form-control"
          id="userEmail"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >User Password</label
        >
        <input
          type="password"
          class="form-control"
          id="userPassword"
          placeholder="User Password"
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</section>
